# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
import os
import re


path = os.getcwd() + '\\Data'
files = os.listdir(path)

for file in files:
    if re.search(r'Students_info_0', file):
        global data_students
        data_students = pd.read_csv(path + '\\' + file, sep = ',')
    elif re.search(r'Students_marks_0', file):
        global data_marks
        data_marks = pd.read_csv(path + '\\' + file, sep = ',')
    elif re.search(r'Students_info_\d+', file):
        data_mrg_students = pd.read_csv(path + '\\' + file, sep = ',')
        data_students = pd.concat([data_students, data_mrg_students])
    elif re.search(r'Students_marks_\d+', file):
        data_mrg_marks = pd.read_csv(path + '\\' + file, sep = ',')
        data_marks = pd.concat([data_marks, data_mrg_marks])

df = data_students.join(data_marks.set_index('index'), on='index')

df.head(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df.drop('index', axis = 1, inplace = True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df.rename(columns = {'parental level of education':'education', 'test preparation course':'test preparation'}, inplace = True)
df.head(1)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
print ('Доля студентов, сдавших экзамен по математике:', (df['math score']>passmark).mean()*100, '%')
print ('Доля студентов, прошедших курс по подготовке и сдавших экзамен по математике:', \
       (df[(df['test preparation'] == 'completed')]['math score']>50).mean()*100, '%')
print ('Доля женщин, не прошедших курс по подготовке и сдавших экзамен по математике:', \
       (df[(df['test preparation'] == 'none') & (df['gender'] == 'female')]['math score']>50).mean()*100, '%')

Доля студентов, сдавших экзамен по математике: 85.0 %
Доля студентов, прошедших курс по подготовке и сдавших экзамен по математике: 90.78212290502793 %
Доля женщин, не прошедших курс по подготовке и сдавших экзамен по математике: 76.64670658682635 %

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
import time
start_t1 = time.time()
print(df.groupby(['race/ethnicity'])['reading score'].mean())
end_t1 = time.time()
diff_time_t1 = end_t1 - start_t1
print('Время выполнения:', diff_time_t1)

start_t2 = time.time()
print('\n', df.groupby(['education'])['writing score'].min())
end_t2 = time.time()
diff_time_t2 = end_t2 - start_t2
print('Время выполнения:', diff_time_t2)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Время выполнения: 0.005000114440917969

 education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Время выполнения: 0.006000518798828125

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
import time


# средняя оценка за чтение среди разных национальностей
start_iter1 = time.time()

race_mean = {}
for race in df['race/ethnicity'].unique():
    race_mean[race] = 0
    for row in df[(df['race/ethnicity'] == race)].iterrows():
        race_mean[race]=race_mean[race] + row[1][7]
    race_mean[race] = race_mean[race] / df[(df['race/ethnicity'] == race)].shape[0]
print('Средние оценки за экзамен по чтению:', race_mean)

end_iter1 = time.time()
diff_time_iter1 = end_iter1 - start_iter1
print('Время выполнения:', diff_time_iter1)
print('Время расчета средней оценки с помощью встроенных функций pandas быстрее, чем поиск ответа с помощью циклов в', \
      round(diff_time_iter1/diff_time_t1), 'раз')


# средняя оценка за чтение среди разных национальностей
start_iter2 = time.time()
edu_min = {}

for level in df['education'].unique():
    edu_min[level] = 10**7
    for row in df[(df['education'] == level)].iterrows():
        if edu_min[level] > row[1][8]:
            edu_min[level]=row[1][8]
print('\n Средние оценки за экзамен по письму:', edu_min)

end_iter2 = time.time()
diff_time_iter2 = end_iter2 - start_iter2
print('Время выполнения:', diff_time_iter2)

#сравнение скорости реализации
print('Время расчета минимальной оценки с помощью встроенных функций pandas быстрее, чем поиск ответа с помощью циклов в', \
      round(diff_time_iter2/diff_time_t2), 'раз')

Средние оценки за экзамен по чтению: {'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}
Время выполнения: 0.113006591796875
Время расчета средней оценки с помощью встроенных функций pandas быстрее, чем поиск ответа с помощью циклов в 23 раз

 Средние оценки за экзамен по письму: {"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
Время выполнения: 0.10500597953796387
Время расчета минимальной оценки с помощью встроенных функций pandas быстрее, чем поиск ответа с помощью циклов в 17 раз

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [52]:
grouped = pd.pivot_table(data = df, index = ['gender', 'education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [71]:
df['Math_PassStatus']  = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Reading_PassStatus']  = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Writing_PassStatus']  = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')

print('Математика: \n',df['Math_PassStatus'].value_counts(),
      '\n\nЧтение: \n',df['Reading_PassStatus'].value_counts(),
      '\n\nПисьмо: \n',df['Writing_PassStatus'].value_counts())

Математика:
 P    865
F    135
Name: Math_PassStatus, dtype: int64

Чтение:
 P    910
F     90
Name: Reading_PassStatus, dtype: int64

Письмо:
 P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df['OverAll_PassStatus'] = df[['math score', 'reading score', 'writing score']]. \
    apply(lambda x: 'F' if (x[0] < passmark or x[1] < passmark or x[2] < passmark) else 'P', axis = 1)
df[(df.OverAll_PassStatus=='P')].shape[0]

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      [90;100] = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####      [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [74]:
def GetGrade(average_mark):
    if average_mark>=90:
        return "A"
    elif (80 <= average_mark < 90):
        return "B"
    elif (70 <= average_mark < 80):
        return "C"
    elif (60 <= average_mark < 70):
        return "D"
    elif (50 <= average_mark < 60):
        return "E"
    elif (0 <= average_mark < 50):
        return "F (Fail)"

df['Grade'] = df.apply(lambda x: GetGrade(sum([x['math score'], x['reading score'], x['writing score']])/3), axis = 1)
df['Grade'].value_counts().sort_index(ascending = True)

A            52
B           146
C           261
D           256
E           182
F (Fail)    103
Name: Grade, dtype: int64